{% extends "alumnos_base.html" %}
{% block contenido %}
<!-- 'nuevo_alumno' es la ruta al backend-->
<a href="{{ url_for('nuevo_alumno') }}">➕ Nuevo alumno</a>

<table border="1" cellpadding="6">
    <tr>
        <th>Expediente</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Acciones</th>
    </tr>

    {% for a in alumnos %}
    <tr>
        <td>{{ a.expediente }}</td>
        <td>{{ a.nombre }}</td>
        <td>{{ a.apellidos }}</td>
        <td>
            <!--pasamos como parámetro el expediente-->
            <a href="{{ url_for('editar_alumno', expediente=a.expediente) }}">Editar</a> |
            <a href="{{ url_for('eliminar_alumno', expediente=a.expediente) }}"
               onclick="return confirm('¿Seguro que quieres eliminar?')">
                Eliminar
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
